(
    name: "VideoCurio",
    foreground: "#D0CFCC",
    cursor: "#D0CFCC",
    bright_foreground: "#D0CFCC",
    dim_foreground: "#8E8E8E",
    normal: (
        black: "#171421",
        red: "#C01C28",
        green: "#26A269",
        yellow: "#A2734C",
        blue: "#12488B",
        magenta: "#A347BA",
        cyan: "#2AA1B3",
        white: "#D0CFCC",
    ),
    bright: (
        black: "#5E5C64",
        red: "#F66151",
        green: "#33D171",
        yellow: "#E9AD0C",
        blue: "#2A7BDE",
        magenta: "#FF06B5",
        cyan: "#33C7DE",
        white: "#FFFFFF",
    ),
    dim: (
        black: "#000000",
        red: "#A04040",
        green: "#5D7D62",
        yellow: "#9E914A",
        blue: "#486073",
        magenta: "#7F46A1",
        cyan: "#3F7F87",
        white: "#898989",
    ),
)
